# .gitignore
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
node_modules/
.dist/
dist/
build/
.env
coverage/
htmlcov/
.pytest_cache/
.mypy_cache/
.idea/
.vscode/
data/
terraform.tfstate
terraform.tfstate.backup
.terraform/
.terraform.lock.hcl
*.tfplan
*.env
*.tfvars
*.example
*.pem
*.pdf